body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#wrapper {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#leftbox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#rightbox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

h1 {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 60px;
}

button {
    background-color: #1aa6a6;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.event-box {
    background: #e6e6e6;
    border: 2px;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    color: red;
    cursor: pointer;
}

.date {
    font-size: 13px;
    margin: 5px 0;
}

.tag {
    background: #1aa6a6;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.desc {
    margin-top: 8px;
    font-size: 14px;
}
